<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <select
    id="agencies-list"
    v-on:change="handleChange">
    <option
      v-for="option in options"
      v-bind:value="option.value"
    >
      {{ option.label }}
    </option>
  </select>
  <select
    id="routes-list"
    v-if="options.length > 0"
    >
    <option
      v-for="option in options"
      v-bind:value="option.value"
    >
      {{ option.label }}
    </option>
  </select>

  <div>
    <label>Start Address<br /> <input style="width: 500px" type="text" id="start-address" /> </label>
  </div>
  <div>
    <label>End Address<br/> <input style="width: 500px" type="text" id="end-address" /></label>
  </div>
  <div id="map" style="height:500px; width: 500px;"></div>
  <script type="text/javascript" src="static/main.bundle.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps %>&libraries=places&callback=initMap" async defer></script>
</body>
</html>
