<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>Transit App!</h1>
    <p>
      <router-link to="/nearby">Near Me</router-link>
    </p>
    <router-view></router-view>
  </div>
  <script type="text/javascript" src="static/main.bundle.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps %>&libraries=places&callback=initMap" async defer></script>
</body>
</html>
